---
layout: default
title: Home
description: Welcome to Natalie Hammond Dressage. Please read more about our dressage training offerings for equestrian riding in the St. Louis area.
keywords: dressage, dressage boarding, boarding, st louis, saint louis, equestrian, horse
redirect_from: 
  - "Home"
---
</div>
</div>
<!-- We've temporary closed main-content and container to have a full width intro -->
<!-- Home Jumbotron
================================================== -->
<section class="intro">
    <center>
        <img src="/assets/images/Natalie.jpg" style="border-radius: 50%; display:none;"
             height="90px" width="240px" alt="A picture of author.">
        <br><br>
        <h1 style="color:white">Hi, I am <span>Natalie Hammond.</span></h1>
        <br>
        <h3> </h3>
        <br>
        <a href="/about" class="btn" style="color:white">view more about me</a>
    </center>
</section>

<!-- We reopen main-content and container -->
<div class="container">
    <div class="main-content">
        <!-- Featured
        ================================================== -->
        

        <!-- Posts Index
        ================================================== -->
        {% if paginator.previous_page %}
        {% if paginator.previous_page > 0 %}
        <div id="jumptopageof"></div>
        {% endif %}
        {% endif %}
        <section class="recent-posts row">
            <div class="col-sm-8">
                <div class="section-title">
                    <h2><span>Latest Posts</span></h2>
                </div>
                <div class="masonrygrid row listrecent">
                    {% for post in paginator.posts %}
                    
                    {% include postbox.html %}
                    
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="bottompagination">
        <span class="navigation" role="navigation">
            {% include pagination.html %}
        </span>
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-sm-4">
                {% include sidebar.html %}
            </div>
        </section>
